@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Manrope&family=Ubuntu:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(15 23 42);
  color: #d2d2d2;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}
.font-ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.fl {
  display: flex;
  align-items: center;
}
.fleb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tr {
  transition: all;
  transition-duration: 300ms;
}


.MuiInputLabel-root {
  color: rgba(256, 256, 256, 0.4) !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.custom-quill-editor {
  border-radius: 8px;
  color: #ddd;
}

.custom-quill-editor .ql-editor {
  border-radius: 0 0 8px 8px;
  font-size: 16px;
  background-color: #334155;
  padding: 10px;
  min-height: 180px;
}

.custom-quill-editor .ql-container.ql-snow {
  border: none;
}

.custom-quill-editor .ql-toolbar {
  border-radius: 8px 8px 0 0;
  border: none;
  background-color: #1f2937;
  display: flex;
  gap: 16px;
}

.swiper-pagination {
  position: absolute;
  bottom: 0px !important;
  left: 50%;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent !important; /* Make the inactive bullet transparent */
  border: 2px solid #f33838 !important; /* Add white border to inactive bullet */
}

.swiper-pagination-bullet-active {
  background-color: #f33838 !important; /* Change active bullet color to red */
  border: 2px solid #f33838 !important; /* Add red border to active bullet */
}
