.override-tailwind {
  padding: 0;
  margin: 0;
}

.override-tailwind h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
}
.override-tailwind h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}
.override-tailwind h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.override-tailwind ul,
.override-tailwind ol {
  list-style-type: none !important;
  padding-left: 0;
}

.override-tailwind ul li::before {
  content: "\2022";
  margin-right: 0.5rem;
}

.override-tailwind ol li {
  counter-increment: my-counter;
  margin-bottom: 0.75rem;
}

.override-tailwind ol li::before {
  content: counter(my-counter) ". ";
}
